#banner{position: relative;}
.slider li{display:none; width:100%; height: 600px;position: relative;}
.slider li.slider_active{display:block;}
.slider li img{width:100%; height: 600px;}
.slider li .container .slider-info{color:white;letter-spacing: 3px;font-family: 'Jua', sans-serif; ;position: absolute; width:1100px; height: 230px; left:50%; top:50%; transform: translate(-50%,-50%);}
.slider li .container .slider-subtit{width:100%; margin-top:30px; font-size: 20px;}
.slider li .container .slider-maintit{width:100%; margin-top:8px; font-size: 45px;}
.slider li .container .slider-date{width:100%;  margin-top:19px;font-size: 15px;}
.slider li .container .slider-btn{width:100px; height: 30px;  margin-top:30px; font-size: 20px;  text-align: center; border: 1px solid #fff; border-radius: 5px; line-height: 30px; padding:2px 10px;}
.slider li .container .slider-btn i{font-size: 13px; ;}


.dot{position: absolute; left:50% ;top :90%;transform: translate(-50%,-50%) ;overflow:hidden;}
.dots{width:30px; height: 8px; border-radius:  3px ; border: 1px solid rgba(255, 255, 255, 0.39); float:left; margin : 0 5px; transition: all 0.2s ease-in-out; box-shadow: beige;}
.dots_active{ background-color: rgba(216, 216, 216, 0.486);}

.arrow{position: absolute; top: 50%; transform: translate(-50%, -50%); font-size: 50px; color:#1d1d1d2c}
.rightArrow{right:0;}
.leftArrow{left:30px;}

@media (max-width : 1280px){
    .container {width: 100%}
    .slider_container{width: 100%;}
    .slider{width:100%;}
    .slider li .container .slider-info{width:90%;}
    .cont1 .cbox .cbox1.cbox1-1{float:none; width: 100%;}
    .cont1 .cbox .cbox1.cbox1-2,.cbox1-3,.cbox1-4{float:left; width: 33.333%; height: 183px; box-sizing: border-box; }
    .cont1 .cbox .cbox1.cbox1-5{ clear: both;float:none; width:100%}
}
@media (max-width : 1024px){

}
@media (max-width : 960px){
    
}
@media (max-width : 768px){
}
@media (max-width : 600px){
    .header{height: 40px;}
    .gnb{display:none;}
    .cont1 .cbox .cbox1.cbox1-2,.cbox1-3,.cbox1-4{float:left; width: 100%; height: 183px; box-sizing: border-box; }
    .slider li{height: 400px;}
    .slider li img{height: 400px;}

}
@media (max-width : 480px){

}
@media (max-width : 320px){

}
