/* 
font-family: 'Yeon Sung', cursive;
font-family: 'Tinos', serif;
 */
@import url('https://fonts.googleapis.com/css?family=Tinos:700i|Yeon+Sung');

/* header 변환 */
#header{background-color: rgb(37, 37, 37);position: static; width:100%; z-index:9}
.board_tit{width:100%; height: 147px; background-color: #eaeaea; border-bottom: 1px solid #eaeaea; padding-left:10px; }
.board_tit .tit_tit{font-size: 41px; padding-top: 39px;font-family: 'Tinos', serif; color:#505050; font-weight: bold;}
.board_tit .tit_tit span{color:black;}
.board_tit .tit_subtit{font-size: 16px; font-family: 'Yeon Sung', cursive; letter-spacing: 1px; color:#313131;}


.board_wrap .board_seachbox{width:100%; height: 147px; background-color: rgb(167, 167, 167);;}
.board_wrap .board_box{width:100%; height: 300px; background-color: rgb(107, 129, 255);;}
