@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* font-family: "Noto Sans KR", sans-serif; 100,300,400,500,700,900 */
/*font-family: 'Song Myung', serif;*/
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
/*font-family: 'Jua', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Jua');

/* #wrap{} */
/* #banner{}
#contents{}
#contents .cont1{} */

.container{width: 1200px; height: inherit; /*background-color: rgba(155, 138, 219, 0.377);*/ margin: 0 auto;    -webkit-text-size-adjust: none;
    -moz-transform: width .55s cubic-bezier(0.075, 0.82, 0.165, 1); 
    -ms-transform: width .55s cubic-bezier(0.075, 0.82, 0.165, 1); 
    -o-transform: width .55s cubic-bezier(0.075, 0.82, 0.165, 1); 
    transform:  width .55s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
